<html>
<head>
<script src="/jquery/jquery.js"></script>
<script src="/moment/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="public/css/global.css">
</head>
<body>
    <h1>Replay Data</h1>
    <button class="jsReplayButton">Replay</button>
    <ul>
    {% for event in eventList %}
        <li>{{event.eventType}}</li>
    {% endfor %}
    </ul>
    <ul class="eventList">
        
    </ul>
    <script>
            $.get('/user/{{userId}}/events').done(function(data) {
                console.log(data);
                eventList = data;
            });
            function renderCursorEvent(divClass) {
                // divClass SHOULD BE "ring" OR "dot"
                let el = document.createElement('div');
                el.className = divClass;
                el.style.left = eventList[i].coordinates.x + "px";
                el.style.top = eventList[i].coordinates.y + "px";
                $(document.body.appendChild(el)).fadeOut(4000, function(){$(this).remove()});
            }

            function replayUserEvents(){
                if(eventList){
                    for(let i = 0; i < eventList.length; i++) {
                        setTimeout(() => {
                            switch(eventList[i].eventType){
                                case 'cursor-move':
                                    renderCursorEvent("dot");
                                    break;
                                case 'mousedown':
                                    renderCursorEvent("ring");
                                    break;
                            };
                        }, eventList[i].downtime);
                        if(i === eventList.length) alert("finished");
                    };
                }
            };

            $('.jsReplayButton').on('click', () => {
                replayUserEvents();
            });
    </script>
</body>


</html>