<html>
<head>
    <style>
        ul {
            -webkit-padding-start:0;
            padding-left:10px;
        }
        li {
          list-style: none;
        }
    </style>
<script src="/jquery/jquery.js"></script>
<script src="/moment/moment.min.js"></script>
</head>
<body>
    <h1>Replay Data</h1>
    <button class="jsReplayButton">Replay</button>
    <ul>
    {% for event in eventList %}
        <li>{{event.eventType}}</li>
    {% endfor %}
    </ul>
    <ul class="eventList">
        
    </ul>
    <script>
            let i = 0;
            $.get('/user/{{userId}}/events').done(function(data) {
                console.log(data);
                eventList = data;
            });
            $('.jsReplayButton').on('click', () => {
                
                var e0 = moment(eventList[0].completionTime);
                var t0 = moment().subtract(e0).format('hh:mm:ss.SSS');

                setInterval(() => document.body.innerHTML = t0, 100)
            });
    </script>
</body>


</html>